.Title{
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}

.Title h1 {
    font-size: 50px;
    color: #e57d59;
    margin-top: 5px;
    text-transform: none;
}