@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;

  }

body {
  background: #fdf8f1;
}

a{
  color: inherit;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.btn {
    background: aliceblue;
    color: #a2cffe;
    padding: 14px 25px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

